.c-checkbox {
    position: relative;

    width: 36px;
    height: 36px;
   
    margin: 20px 0 0 20px;

    overflow: hidden;

    background-color: #fff;
}

.c-checkbox-border {
    width: 36px;
    height: 36px;
    border:  1px solid #000;

    box-sizing: border-box;
    transition: .2s ease-in-out;
}

.c-checkbox-mark {
    position: absolute;
    
    width: 17px;
    height: 10px;

    top: 40px;
    left: 9px;
    
    border-bottom: 2px solid #000;
    border-left: 2px  solid #000;

    transform:  rotate(-45deg); 
    
    transition: 1s ease-in-out;
   
}

.animation {   
    transition: .3s ease-in-out;
    animation: linear .3s mark both;  
    border-bottom: 2px solid rgb(7, 172, 20);
    border-left: 2px  solid rgb(7, 172, 20);
}

.bordered {
    border: 3px solid rgb(7, 172, 20);
}

@keyframes mark{
    0%   { top: 40px; }
    50%  { top: 0px;  }         
    100% { top: 10px; }
}


