.c-checkbox2 {
    width: 34px;
    height: 34px;
    margin: 20px;    
    border: 1px solid black;   
}


.c-background {
    background-color: rgb(199, 44, 5);
}

.c-border {
    border: 2px dotted black;
}