.c-navbar-links {   
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-navbar-link {  
    width: 125px;
    height: 50px;
    margin: 0 0 0 20px;   
    padding: 25px 0 0 0; 
    background-color: #fff;    
    color: #000;
    border-radius: 20px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;    
}

.active {
    background-color: purple;
    color: #fff;       
}