.c-button {
    width: 140px;
    height: 50px;
    margin: 25px;
    padding: 10px; 
    display: block;
    border: none;   
    color: white;
    font-weight: 600;
    transition: .3s;
    border-radius: 6px;
    outline: none;    
}

.c-button:hover {
    background-color: rgb(238, 200, 144);               
    color: black;    
}


.purple {    
    background-color: #9893DA;        
}
