.c-header {
    height: 100vh;
    background-color: #282c34; 
}

.c-header-title {
    width: 100%;
    height: 130px;
    margin: 0;
    padding-top: 50px;
    color: #61dafb;
    text-align: center;
    
    font-size: 40px;

}

.c-header-title > span {
    color: #ffffff; 
}

