.c-main-area-checkboxes{    
    width: 80%;
    height: 200px;

    margin: 0 auto;
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #fff;
}






